@font-face {
    font-family: 'quicksand';
    src: url('./Quicksand/static/Quicksand-Regular.ttf');
}
@font-face {
    font-family: 'quicksand-medium';
    src: url('./Quicksand/static/Quicksand-Medium.ttf');
}
@font-face {
    font-family: 'quicksand-semibold';
    src: url('./Quicksand/static/Quicksand-SemiBold.ttf');
}
@font-face {
    font-family: 'quicksand-bold';
    src: url('./Quicksand/static/Quicksand-Bold.ttf');
}
.font-quicksand-medium {
    font-family: 'quicksand-medium', sans-serif;
}
.font-quicksand-semibold {
    font-family: 'quicksand-semibold', sans-serif;
}
.font-quicksand-bold {
    font-family: 'quicksand-bold', sans-serif;
}
@font-face {
    font-family: 'kanit-regular';
    src: url('./Kanit/Kanit-Regular.ttf');
}
@font-face {
    font-family: 'kanit-medium';
    src: url('./Kanit/Kanit-Medium.ttf');
}
@font-face {
    font-family: 'kanit-semibold';
    src: url('./Kanit/Kanit-SemiBold.ttf');
}
@font-face {
    font-family: 'kanit-bold';
    src: url('./Kanit/Kanit-Bold.ttf');
}
@font-face {
    font-family: 'kanit-light';
    src: url('./Kanit/Kanit-Light.ttf');
}
.font-kanit-bold {
    font-family: 'kanit-bold', sans-serif;
}
.font-kanit-medium {
    font-family: 'kanit-medium', sans-serif;
}
.font-kanit-semibold {
    font-family: 'kanit-semibold', sans-serif;
}
.font-kanit-regular {
    font-family: 'kanit-regular', sans-serif;
}
.font-kanit-light {
    font-family: 'kanit-light', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'kanit-light', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
    line-height: 1.5;
    font-size: 15px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* landing page work categories thumbnails */
.design-projects-thumb{
    background-image: url('./images/works-thumnails/designs/sandie-clarke-0JPMHlHKos0-unsplash.jpg');                                                                                                                    
}
.illustrations-thumb{
    background-image: url('./images/works-thumnails/illustrations/syarafina-idris-dCeWUxnIYaM-unsplash.jpg');                                                                                                                    
}
.ceramics-thumb{
    background-image: url('./images/works-thumnails/ceramics/vladimir-gladkov-NPPIq1XFdck-unsplash.jpg');                                                                                                                    
}
.animations-thumb{
    background-image: url('./images/works-thumnails/animation/allison-saeng-KDnxK1V0bNw-unsplash.jpg');                                                                                                                    
}
.belongings-thumb{
    background-image: url('./works/illustrations/Belongings/img-1.jpg');                                                                                                                    
}
.concepts-thumb{
    background-image: url('./works/illustrations/concepts/IMG-1.jpeg');                                                                                                                    
}
.dysfunctional-family-thumb{
    background-image: url('./works/illustrations/Dysfunctional-Family/IMG_3466.jpeg');                                                                                                                    
}
.eyes-thumb{
    background-image: url('./works/illustrations/eyes/IMG_1954.JPG');                                                                                                                    
}
.hanging-objects-thumb{
    background-image: url('./works/illustrations/Hanging-Objects/Untitled-Artwork\ 3\ \(3\).jpg');                                                                                                                    
}
.just-before-ppd-thumb{
    background-image: url('./works/illustrations/Just-before-PPD/Untitled_Artwork.jpeg');                                                                                                                    
}
.nja-tantrums-to-trauma-thumb{
    background-image: url('./works/illustrations/Nja-Tantrums-to-Trauma/IMG_1966.JPG');                                                                                                                    
}
.studies-thumb{
    background-image: url('./works/illustrations/Studies/IMG_0039.JPG');                                                                                                                    
}

.work-heading-top-5{
    top:5.2735rem;
    top:5.255rem;
    top:5rem;
}

@media (min-width:992px) {
  .min-h-lg-50v{
    min-height: 50vh;
  }
}
.top-cover-img{
    background-image: url('./images/cover-img-1.jpg');
    background-size: cover;
    background-position: top;
    height: 40vh;
}
.footer-bg{
    background-image: url('./images/cover-img-2.jpeg');
    background-size: cover;
}
/* transition */
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease-in-out;
}